


<%if user_signed_in? %>
<h1>Friends</h1>
<div id="friends">
  
<table class="table  table-bordered table-hover table-striped">
  <thead class="table-dark" >

    
    <tr>
      
      <th scope="col">Name</th>
      
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">User Id</th>
      <th scope="col">Twitter</th>
      <th colspan="3"><center>Action</center></th>
      <%# <th scope="col"></th>
      <th scope="col"></th> %>
    </tr>
  </thead>
  <tbody>
     <% @friends.each do |friend| %>
     <%if current_user == friend.user%>
    <tr>
     
      <%= render friend %>
      
        <td><%= link_to "Show", friend,class:"btn btn-info" %></td> 
        <td> <%= link_to "Edit", edit_friend_path(friend),class:"btn btn-warning" %></td>
        <td><%= button_to "Destroy", friend, method: :delete,class:"btn btn-danger" %></td>

    </tr>



    <%end%>

      <% end %>
  </tbody>
</table>

    
 
</div>

<%= link_to "New friend", new_friend_path,class:"btn btn-primary" %>

<%else%>
  <h1>Hello World</h1>
<%end%>
